
<h4>Hello this is my Demo project<h4>

<%= form_with url: articles_path, method: :get do |form| %>
  <%= form.label :query, "Search" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<%= link_to "New Article", new_article_path %>

<ul style="list-style-type:none;" >
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %> 
      <%= article.title %> 
      <%= article.body %>
      <%= link_to "Edit", edit_article_path(article) %>
      <%= link_to "Destroy", article_path(article),
                  method: :delete,
                  data: { confirm: "sure you want?" } %>
    </li>
  <% end %>
</ul>
